In [1]:
import pandas as pd
import numpy as np

In [ ]:
Описание тестового датасета:
В датасете представлены данные по сессиям пользователей мобильного приложения Gett и действиям в приложении (значимые этапы воронки).

Поля:
● Date - дата сессии
● User_id - id пользователя
● Hour - час старта сессии
● App_opened - приложение открыто
● Price_seen - пользователь ввел данные маршрута и показана цена
● Order_made - пользователь кликнул по кнопке заказа
● Surge - в этот период был включен surge (надбавка к стоимости поездки в период повышенного спроса)
● Ride_completed - поездка успешно завершена
● User_cancelled - пользователь отменил поездку
● Age - возраст пользователя
● Os - операционная система на телефоне
● City_center_order - заказ был сделан из центра города
● Order_class - класс поездки
● Distance - дистанция в км
● Rfm - rfm-сегмент пользователя

! В данных могут содержаться ошибки и искажения. 
Это сделано намеренно, чтобы вы лучше поняли данные и предварительно их очистили при анализе. 
Необходимо найти в этих данных точки роста и сгенерить гипотезы по улучшению приложения/процессов.

In [2]:
df = pd.read_csv('Netology_A_B-testing_HW_1.csv')
df.head(20)

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
0,0,2020-05-21,867689,12,1,1,1,no surge,1,0,20,iOS,0,business,7.982135,low
1,1,2020-05-23,752172,5,1,1,1,no surge,1,0,37,Android,1,economy,2.908468,high
2,2,2020-05-20,486559,15,1,1,1,no surge,1,0,47,Android,0,comfort,7.224614,low
3,3,2020-05-19,304024,0,1,1,1,no surge,1,0,59,Android,1,economy,1.874349,low
4,4,2020-05-23,139420,0,1,1,1,no surge,1,0,19,Android,0,business,10.704778,medium
5,5,2020-05-21,139455,5,1,0,0,NaN,0,0,60,Android,1,comfort,NaN,low
6,6,2020-05-24,416988,0,1,1,0,no surge,0,0,65,iOS,1,comfort,7.535725,low
7,7,2020-05-22,682337,2,1,1,1,no surge,1,0,40,Android,1,comfort,9.055344,medium
8,8,2020-05-23,931492,20,1,0,0,NaN,0,0,25,iOS,0,economy,NaN,medium
9,9,2020-05-23,662775,17,1,1,1,surge,1,0,48,Android,1,comfort,4.828326,medium
10,10,2020-05-23,464055,20,1,1,1,surge,1,0,59,iOS,0,comfort,3.647097,high
11,11,2020-05-24,370093,12,1,1,1,no surge,1,0,27,Android,0,economy,4.273224,medium
12,12,2020-05-21,811050,4,1,0,0,NaN,0,0,51,Android,0,economy,NaN,medium
13,13,2020-05-19,786923,23,1,1,0,no surge,0,0,38,Android,1,comfort,0.704415,low
14,14,2020-05-21,382672,2,1,1,1,no surge,1,0,37,iOS,0,comfort,8.669202,high
15,15,2020-05-19,893154,6,1,1,1,no surge,1,0,56,iOS,0,economy,3.563128,low
16,16,2020-05-23,990097,2,1,1,1,no surge,1,0,45,Android,1,economy,5.766970,low
17,17,2020-05-21,621723,13,1,0,0,NaN,0,0,64,Android,1,economy,NaN,low
18,18,2020-05-19,393096,23,1,1,0,surge,0,0,28,Android,1,comfort,2.523357,low
19,19,2020-05-20,320419,3,1,1,1,no surge,1,0,22,Android,1,comfort,5.545119,low

пропуски

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101500 entries, 0 to 101499
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         101500 non-null  int64
 1   date               101500 non-null  object
 2   user_id            101500 non-null  int64
 3   hour               101500 non-null  int64
 4   app_opened         101500 non-null  int64
 5   price_seen         101500 non-null  int64
 6   order_made         101500 non-null  int64
 7   surge              91431 non-null   object
 8   ride_completed     101500 non-null  int64
 9   user_cancelled     101500 non-null  int64
 10  age                101500 non-null  int64
 11  os                 101500 non-null  object
 12  city_center_order  101500 non-null  int64
 13  order_class        101500 non-null  object
 14  distance           91431 non-null   float64
 15  rfm                101500 non-null  object
dtypes: float64(1), int64(10), object(5)
memory usage: 12.4+ MB

имеем пропуски по столбцу surge и по distance

In [ ]:
df1=df[['surge','distance']]
df1.head(30)

In [7]:
#фильтр по странам и категориям +rfm(high)
filter_df = df[((df['price_seen'] == 1) & (df['order_made']== 1) & (df['surge']=='surge') & (df['ride_completed'] == 0) & (df['rfm'] == 'high'))]

filter_df.head(10)

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
79,79,2020-05-22,317225,5,1,1,1,surge,0,1,41,Android,1,comfort,5.642499,high
164,164,2020-05-18,882279,9,1,1,1,surge,0,1,29,Android,0,economy,6.007129,high
696,696,2020-05-23,141162,20,1,1,1,surge,0,1,49,iOS,0,comfort,3.701098,high
984,984,2020-05-24,252774,15,1,1,1,surge,0,1,58,Android,0,economy,6.216479,high
1021,1021,2020-05-23,183122,10,1,1,1,surge,0,1,41,Android,1,comfort,5.455829,high
1242,1242,2020-05-19,205184,7,1,1,1,surge,0,1,59,iOS,1,economy,3.625280,high
1626,1626,2020-05-21,126994,18,1,1,1,surge,0,1,52,Android,1,economy,4.445686,high
1667,1667,2020-05-23,773365,4,1,1,1,surge,0,1,21,iOS,0,economy,2.213564,high
2378,2378,2020-05-19,525444,15,1,1,1,surge,0,1,22,iOS,0,comfort,2.720518,high
2834,2834,2020-05-18,799151,18,1,1,1,surge,0,1,57,Android,0,economy,5.703306,high

In [8]:
filter_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 306 entries, 79 to 100890
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         306 non-null    int64
 1   date               306 non-null    object
 2   user_id            306 non-null    int64
 3   hour               306 non-null    int64
 4   app_opened         306 non-null    int64
 5   price_seen         306 non-null    int64
 6   order_made         306 non-null    int64
 7   surge              306 non-null    object
 8   ride_completed     306 non-null    int64
 9   user_cancelled     306 non-null    int64
 10  age                306 non-null    int64
 11  os                 306 non-null    object
 12  city_center_order  306 non-null    int64
 13  order_class        306 non-null    object
 14  distance           306 non-null    float64
 15  rfm                306 non-null    object
dtypes: float64(1), int64(10), object(5)
memory usage: 40.6+ KB

In [9]:
#фильтр по странам и категориям + rfm(high) + order class
filter_df1 = df[((df['price_seen'] == 1) & (df['order_made']== 1) & (df['surge']=='surge') & (df['ride_completed'] == 1) & (df['order_class'] == 'business') & (df['os'] == 'iOS') & (df['rfm'] == 'high'))]

filter_df1.head(10)

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
45,45,2020-05-19,683124,11,1,1,1,surge,1,0,42,iOS,1,business,15.155294,high
487,487,2020-05-19,121478,16,1,1,1,surge,1,0,44,iOS,0,business,9.725091,high
595,595,2020-05-18,632154,8,1,1,1,surge,1,0,58,iOS,1,business,16.016583,high
1824,1824,2020-05-22,217035,22,1,1,1,surge,1,0,41,iOS,0,business,9.490738,high
3000,3000,2020-05-20,486407,19,1,1,1,surge,1,0,29,iOS,1,business,11.695340,high
3351,3351,2020-05-23,976714,12,1,1,1,surge,1,0,58,iOS,0,business,8.954844,high
4989,4989,2020-05-19,554467,7,1,1,1,surge,1,0,45,iOS,0,business,4.567076,high
5076,5076,2020-05-22,534458,21,1,1,1,surge,1,0,20,iOS,1,business,19.693998,high
5568,5568,2020-05-18,692419,4,1,1,1,surge,1,0,22,iOS,0,business,10.998807,high
5702,5702,2020-05-24,296631,6,1,1,1,surge,1,0,58,iOS,0,business,19.418456,high

In [10]:
filter_df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 154 entries, 45 to 98966
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         154 non-null    int64
 1   date               154 non-null    object
 2   user_id            154 non-null    int64
 3   hour               154 non-null    int64
 4   app_opened         154 non-null    int64
 5   price_seen         154 non-null    int64
 6   order_made         154 non-null    int64
 7   surge              154 non-null    object
 8   ride_completed     154 non-null    int64
 9   user_cancelled     154 non-null    int64
 10  age                154 non-null    int64
 11  os                 154 non-null    object
 12  city_center_order  154 non-null    int64
 13  order_class        154 non-null    object
 14  distance           154 non-null    float64
 15  rfm                154 non-null    object
dtypes: float64(1), int64(10), object(5)
memory usage: 20.5+ KB

In [11]:
#фильтр по странам и категориям + rfm(high) + order class
filter_df2 = df[((df['price_seen'] == 1) & (df['order_made']== 1) & (df['surge']=='surge') & (df['ride_completed'] == 0) & (df['order_class'] == 'comfort') & (df['city_center_order'] == 1) & (df['hour'] > 10) & (df['os'] == 'iOS') & (df['rfm'] == 'high'))]

filter_df2.head(10)

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
24322,24322,2020-05-18,859596,20,1,1,1,surge,0,1,58,iOS,1,comfort,3.537392,high
48188,48188,2020-05-23,550128,20,1,1,1,surge,0,1,31,iOS,1,comfort,1.578224,high
81414,81414,2020-05-19,382199,22,1,1,1,surge,0,1,59,iOS,1,comfort,4.636853,high
87755,87755,2020-05-19,495753,15,1,1,1,surge,0,1,41,iOS,1,comfort,2.895507,high

In [58]:
filter_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181 entries, 429 to 101475
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         181 non-null    int64
 1   date               181 non-null    object
 2   user_id            181 non-null    int64
 3   hour               181 non-null    int64
 4   app_opened         181 non-null    int64
 5   price_seen         181 non-null    int64
 6   order_made         181 non-null    int64
 7   surge              181 non-null    object
 8   ride_completed     181 non-null    int64
 9   user_cancelled     181 non-null    int64
 10  age                181 non-null    int64
 11  os                 181 non-null    object
 12  city_center_order  181 non-null    int64
 13  order_class        181 non-null    object
 14  distance           181 non-null    float64
 15  rfm                181 non-null    object
dtypes: float64(1), int64(10), object(5)
memory usage: 24.0+ KB

In [142]:
#фильтр по странам и категориям + rfm(high) + order class ---- проверила разные комбинации, выгодных не нашла
filter_df3 = df[((df['price_seen'] == 1) & (df['order_made']== 1) & (df['surge']=='surge') & (df['ride_completed'] == 1) & (df['order_class'] == 'comfort') & (df['city_center_order'] == 0)& (df['distance'] > 3.3) & (df['distance'] < 6) & (df['os'] == 'Android') & (df['rfm'] == 'high'))]

filter_df3.head(10)

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
91,91,2020-05-22,315210,19,1,1,1,surge,1,0,47,Android,0,comfort,5.218351,high
540,540,2020-05-22,699484,21,1,1,1,surge,1,0,28,Android,0,comfort,3.610523,high
2668,2668,2020-05-23,793095,13,1,1,1,surge,1,0,59,Android,0,comfort,5.555607,high
2948,2948,2020-05-24,405894,14,1,1,1,surge,1,0,27,Android,0,comfort,5.607130,high
3213,3213,2020-05-24,360080,3,1,1,1,surge,1,0,43,Android,0,comfort,3.312252,high
5157,5157,2020-05-21,830412,9,1,1,1,surge,1,0,38,Android,0,comfort,5.229500,high
6785,6785,2020-05-24,181715,23,1,1,1,surge,1,0,21,Android,0,comfort,5.645564,high
7492,7492,2020-05-19,999641,21,1,1,1,surge,1,0,19,Android,0,comfort,4.867173,high
7988,7988,2020-05-19,990067,7,1,1,1,surge,1,0,38,Android,0,comfort,3.433159,high
9161,9161,2020-05-18,357228,11,1,1,1,surge,1,0,50,Android,0,comfort,3.843203,high

In [143]:
filter_df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79 entries, 91 to 101032
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         79 non-null     int64
 1   date               79 non-null     object
 2   user_id            79 non-null     int64
 3   hour               79 non-null     int64
 4   app_opened         79 non-null     int64
 5   price_seen         79 non-null     int64
 6   order_made         79 non-null     int64
 7   surge              79 non-null     object
 8   ride_completed     79 non-null     int64
 9   user_cancelled     79 non-null     int64
 10  age                79 non-null     int64
 11  os                 79 non-null     object
 12  city_center_order  79 non-null     int64
 13  order_class        79 non-null     object
 14  distance           79 non-null     float64
 15  rfm                79 non-null     object
dtypes: float64(1), int64(10), object(5)
memory usage: 10.5+ KB

не нашла интересных закономерностей в срезе андроид, комфорт класс, rfm high

In [66]:
#фильтр по странам и категориям + rfm(high) + order class 
filter_df4 = df[((df['price_seen'] == 1) & (df['order_made']== 1) & (df['ride_completed']== 0) & (df['surge']=='surge') & (df['age'] > 20) & (df['age'] < 40) & (df['city_center_order'] == 1) & (df['order_class'] == 'economy') & (df['os'] == 'iOS') & (df['rfm'] == 'high'))]

filter_df4.head(10)

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
16360,16360,2020-05-18,740067,17,1,1,1,surge,0,1,31,iOS,1,economy,3.739606,high
21120,21120,2020-05-19,304978,18,1,1,1,surge,0,1,29,iOS,1,economy,5.075457,high
31148,31148,2020-05-24,327592,1,1,1,1,surge,0,1,24,iOS,1,economy,2.564217,high
35250,35250,2020-05-18,384796,9,1,1,1,surge,0,1,21,iOS,1,economy,1.942982,high
38619,38619,2020-05-19,134471,3,1,1,1,surge,0,1,29,iOS,1,economy,2.107576,high
47771,47771,2020-05-21,202942,15,1,1,1,surge,0,1,39,iOS,1,economy,10.077130,high
52976,52976,2020-05-20,453659,12,1,1,1,surge,0,1,30,iOS,1,economy,13.070010,high
55197,55197,2020-05-19,859162,14,1,1,1,surge,0,1,24,iOS,1,economy,1.304216,high
89592,89592,2020-05-18,460025,21,1,1,1,surge,0,1,26,iOS,1,economy,2.781041,high

In [67]:
filter_df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9 entries, 16360 to 89592
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         9 non-null      int64
 1   date               9 non-null      object
 2   user_id            9 non-null      int64
 3   hour               9 non-null      int64
 4   app_opened         9 non-null      int64
 5   price_seen         9 non-null      int64
 6   order_made         9 non-null      int64
 7   surge              9 non-null      object
 8   ride_completed     9 non-null      int64
 9   user_cancelled     9 non-null      int64
 10  age                9 non-null      int64
 11  os                 9 non-null      object
 12  city_center_order  9 non-null      int64
 13  order_class        9 non-null      object
 14  distance           9 non-null      float64
 15  rfm                9 non-null      object
dtypes: float64(1), int64(10), object(5)
memory usage: 1.2+ KB

In [73]:
#проверка 
filter_df5 = df[((df['price_seen'] == 1) & (df['order_made']== 1)  & (df['surge']=='no surge') & (df['age'] > 20) & (df['age'] < 40) & (df['city_center_order'] == 1) & (df['order_class'] == 'economy') & (df['os'] == 'iOS') & (df['rfm'] == 'high'))]

filter_df5.head(10)

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
88,88,2020-05-22,945470,12,1,1,1,no surge,1,0,35,iOS,1,economy,0.803971,high
349,349,2020-05-22,507170,19,1,1,1,no surge,0,1,23,iOS,1,economy,3.173343,high
707,707,2020-05-20,394304,11,1,1,1,no surge,1,0,25,iOS,1,economy,8.211988,high
1183,1183,2020-05-24,920423,12,1,1,1,no surge,1,0,33,iOS,1,economy,5.889885,high
1388,1388,2020-05-24,612568,10,1,1,1,no surge,1,0,21,iOS,1,economy,11.485837,high
1481,1481,2020-05-22,713029,1,1,1,1,no surge,1,0,32,iOS,1,economy,1.502520,high
2651,2651,2020-05-18,785343,14,1,1,1,no surge,0,1,30,iOS,1,economy,7.585304,high
3411,3411,2020-05-18,850126,2,1,1,1,no surge,1,0,33,iOS,1,economy,1.299056,high
3576,3576,2020-05-20,171351,22,1,1,1,no surge,1,0,37,iOS,1,economy,1.306376,high
3742,3742,2020-05-24,403714,2,1,1,1,no surge,1,0,27,iOS,1,economy,4.945956,high

In [74]:
filter_df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 366 entries, 88 to 101289
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         366 non-null    int64
 1   date               366 non-null    object
 2   user_id            366 non-null    int64
 3   hour               366 non-null    int64
 4   app_opened         366 non-null    int64
 5   price_seen         366 non-null    int64
 6   order_made         366 non-null    int64
 7   surge              366 non-null    object
 8   ride_completed     366 non-null    int64
 9   user_cancelled     366 non-null    int64
 10  age                366 non-null    int64
 11  os                 366 non-null    object
 12  city_center_order  366 non-null    int64
 13  order_class        366 non-null    object
 14  distance           366 non-null    float64
 15  rfm                366 non-null    object
dtypes: float64(1), int64(10), object(5)
memory usage: 48.6+ KB

In [160]:
#фильтр по странам и категориям + rfm(medium) + order class 
filter_df6 = df[((df['price_seen'] == 1) & (df['order_made']== 1) & (df['surge']=='no surge') & (df['order_class'] == 'economy') & (df['os'] == 'Android') & (df['city_center_order'] == 1) & (df['distance'] < 1.5) & (df['rfm'] == 'medium'))]

filter_df6.head(30)

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
621,621,2020-05-24,510200,12,1,1,1,no surge,1,0,35,Android,1,economy,1.418275,medium
876,876,2020-05-19,892229,23,1,1,1,no surge,1,0,52,Android,1,economy,1.099162,medium
880,880,2020-05-18,299585,11,1,1,1,no surge,1,0,22,Android,1,economy,0.497005,medium
1307,1307,2020-05-19,288445,3,1,1,1,no surge,1,0,56,Android,1,economy,1.350470,medium
1313,1313,2020-05-21,649984,3,1,1,1,no surge,1,0,57,Android,1,economy,0.636668,medium
1669,1669,2020-05-24,820101,5,1,1,1,no surge,1,0,40,Android,1,economy,0.449933,medium
1750,1750,2020-05-21,497186,11,1,1,1,no surge,1,0,50,Android,1,economy,0.707638,medium
1882,1882,2020-05-18,870870,6,1,1,1,no surge,0,1,45,Android,1,economy,1.364477,medium
1931,1931,2020-05-22,326207,16,1,1,1,no surge,1,0,26,Android,1,economy,1.072125,medium
2578,2578,2020-05-24,974022,6,1,1,1,no surge,1,0,32,Android,1,economy,0.347643,medium
2689,2689,2020-05-18,142971,16,1,1,1,no surge,1,0,40,Android,1,economy,1.271280,medium
3062,3062,2020-05-22,650122,0,1,1,1,no surge,1,0,28,Android,1,economy,1.200904,medium
3250,3250,2020-05-23,384790,5,1,1,1,no surge,0,1,52,Android,1,economy,1.045124,medium
3438,3438,2020-05-18,134632,22,1,1,1,no surge,1,0,21,Android,1,economy,1.258016,medium
3466,3466,2020-05-20,749628,17,1,1,1,no surge,1,0,53,Android,1,economy,1.189412,medium
3565,3565,2020-05-21,885852,22,1,1,1,no surge,1,0,57,Android,1,economy,1.190541,medium
3686,3686,2020-05-20,794600,22,1,1,1,no surge,1,0,49,Android,1,economy,0.347357,medium
3954,3954,2020-05-21,244991,1,1,1,1,no surge,1,0,30,Android,1,economy,1.058659,medium
4114,4114,2020-05-24,954577,13,1,1,1,no surge,1,0,42,Android,1,economy,1.254004,medium
4230,4230,2020-05-18,123201,7,1,1,1,no surge,1,0,39,Android,1,economy,0.275774,medium
4907,4907,2020-05-23,538235,1,1,1,1,no surge,1,0,51,Android,1,economy,1.290797,medium
5132,5132,2020-05-20,412094,23,1,1,1,no surge,1,0,31,Android,1,economy,0.443920,medium
5137,5137,2020-05-18,407995,17,1,1,1,no surge,1,0,53,Android,1,economy,0.827625,medium
5162,5162,2020-05-18,106719,17,1,1,1,no surge,1,0,31,Android,1,economy,0.189842,medium
5268,5268,2020-05-23,770461,6,1,1,1,no surge,1,0,57,Android,1,economy,0.597615,medium
5408,5408,2020-05-21,266285,3,1,1,1,no surge,1,0,25,Android,1,economy,1.301930,medium
5538,5538,2020-05-22,761486,16,1,1,1,no surge,1,0,39,Android,1,economy,0.380794,medium
5840,5840,2020-05-24,185364,1,1,1,1,no surge,1,0,54,Android,1,economy,1.181927,medium
5867,5867,2020-05-18,854140,11,1,1,1,no surge,1,0,41,Android,1,economy,0.930594,medium
6086,6086,2020-05-18,450600,0,1,1,1,no surge,0,1,69,Android,1,economy,0.600108,medium

In [161]:
filter_df6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 559 entries, 621 to 101293
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         559 non-null    int64
 1   date               559 non-null    object
 2   user_id            559 non-null    int64
 3   hour               559 non-null    int64
 4   app_opened         559 non-null    int64
 5   price_seen         559 non-null    int64
 6   order_made         559 non-null    int64
 7   surge              559 non-null    object
 8   ride_completed     559 non-null    int64
 9   user_cancelled     559 non-null    int64
 10  age                559 non-null    int64
 11  os                 559 non-null    object
 12  city_center_order  559 non-null    int64
 13  order_class        559 non-null    object
 14  distance           559 non-null    float64
 15  rfm                559 non-null    object
dtypes: float64(1), int64(10), object(5)
memory usage: 74.2+ KB

In [48]:
#фильтр по странам и категориям + rfm(low) + order class 
filter_df7 = df[((df['price_seen'] == 1) & (df['order_made']== 1) & (df['ride_completed']== 1) & (df['surge']=='no surge') & (df['age'] < 30) & (df['os']=='iOS')& (df['city_center_order']== 1) & (df['order_class']=='business') & (df['rfm'] == 'low'))]

filter_df7.head(30)

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
40,40,2020-05-22,449906,9,1,1,1,no surge,1,0,22,iOS,1,business,12.089362,low
323,323,2020-05-20,691158,23,1,1,1,no surge,1,0,20,iOS,1,business,9.263767,low
360,360,2020-05-19,258645,4,1,1,1,no surge,1,0,27,iOS,1,business,7.319296,low
1219,1219,2020-05-22,487138,23,1,1,1,no surge,1,0,23,iOS,1,business,10.956521,low
1841,1841,2020-05-19,583964,17,1,1,1,no surge,1,0,18,iOS,1,business,15.458464,low
2002,2002,2020-05-23,206667,21,1,1,1,no surge,1,0,28,iOS,1,business,3.002821,low
2058,2058,2020-05-19,570068,16,1,1,1,no surge,1,0,20,iOS,1,business,8.692351,low
2783,2783,2020-05-19,161424,12,1,1,1,no surge,1,0,29,iOS,1,business,11.098872,low
3282,3282,2020-05-18,720204,0,1,1,1,no surge,1,0,19,iOS,1,business,15.160585,low
3527,3527,2020-05-21,715508,22,1,1,1,no surge,1,0,27,iOS,1,business,11.056289,low
3573,3573,2020-05-24,952567,13,1,1,1,no surge,1,0,21,iOS,1,business,5.705054,low
5869,5869,2020-05-23,839197,20,1,1,1,no surge,1,0,19,iOS,1,business,15.250463,low
6183,6183,2020-05-18,614645,22,1,1,1,no surge,1,0,27,iOS,1,business,8.067545,low
6676,6676,2020-05-24,864227,23,1,1,1,no surge,1,0,25,iOS,1,business,10.860012,low
7529,7529,2020-05-18,399224,18,1,1,1,no surge,1,0,23,iOS,1,business,8.456672,low
7779,7779,2020-05-21,714873,14,1,1,1,no surge,1,0,21,iOS,1,business,7.796732,low
7895,7895,2020-05-24,432895,0,1,1,1,no surge,1,0,27,iOS,1,business,12.420066,low
9072,9072,2020-05-19,361348,14,1,1,1,no surge,1,0,18,iOS,1,business,5.683727,low
9413,9413,2020-05-22,323900,2,1,1,1,no surge,1,0,21,iOS,1,business,12.600923,low
9806,9806,2020-05-22,421183,9,1,1,1,no surge,1,0,19,iOS,1,business,10.323604,low
9969,9969,2020-05-18,969990,13,1,1,1,no surge,1,0,20,iOS,1,business,14.565752,low
10048,10048,2020-05-19,295874,18,1,1,1,no surge,1,0,20,iOS,1,business,6.602780,low
10114,10114,2020-05-22,768623,1,1,1,1,no surge,1,0,29,iOS,1,business,14.919314,low
10796,10796,2020-05-19,299639,14,1,1,1,no surge,1,0,19,iOS,1,business,13.422712,low
12030,12030,2020-05-21,717726,0,1,1,1,no surge,1,0,26,iOS,1,business,8.435266,low
12473,12473,2020-05-22,742675,18,1,1,1,no surge,1,0,25,iOS,1,business,15.396181,low
12536,12536,2020-05-22,776599,4,1,1,1,no surge,1,0,22,iOS,1,business,19.846835,low
12614,12614,2020-05-24,720352,3,1,1,1,no surge,1,0,25,iOS,1,business,11.673154,low
12644,12644,2020-05-20,287101,7,1,1,1,no surge,1,0,20,iOS,1,business,11.244515,low
12704,12704,2020-05-23,197561,18,1,1,1,no surge,1,0,28,iOS,1,business,15.499104,low

In [49]:
filter_df7.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185 entries, 40 to 101436
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         185 non-null    int64
 1   date               185 non-null    object
 2   user_id            185 non-null    int64
 3   hour               185 non-null    int64
 4   app_opened         185 non-null    int64
 5   price_seen         185 non-null    int64
 6   order_made         185 non-null    int64
 7   surge              185 non-null    object
 8   ride_completed     185 non-null    int64
 9   user_cancelled     185 non-null    int64
 10  age                185 non-null    int64
 11  os                 185 non-null    object
 12  city_center_order  185 non-null    int64
 13  order_class        185 non-null    object
 14  distance           185 non-null    float64
 15  rfm                185 non-null    object
dtypes: float64(1), int64(10), object(5)
memory usage: 24.6+ KB